body{
    font-family: sans-serif;
    font-size: 35px;
}

table{
    border-collapse: collapse;
    text-align: center;
}

tr:first-child{
    font-weight: bold;
    background-color: #c6c6c6;
}

td:first-child{
    font-weight: bold;
}

td:nth-child(2){
    font-weight: bold;
}

.bleu{
    background-color: #3aaac6;
}

.rouge{
    background-color: red;
}

.mauve{
    background-color: #591443;
}

.rosatreChelou{
    background-color: #af348f;
}

.jaune{
    background-color: #c89e27;
}

.bleuT{
    color: blue;
}

.rougeT{
    color: red;
}

.en{
    font-size: 10px;
    color: blue;
}

sup{
    color: blue;
    font-weight: normal;
}

caption{
    font-weight: bold;
}

.epais{
    height: 0.3em;
}